body {
	background-color:#FFFFFF}
#averyname {
	margin: 60px;
	background-color:#1ebbcc}
#paragraphstyle {
	text-align: center;
	color:#5c2f2f;
}

ol {
	list-style-type: none;
	margin: 10px;
	padding: 5px;
	overflow: hidden ;
	background-color:#FFFFFF
}

li {float:right;
	}
li a {
	display: block;
	color: black;
	text-align: center;
	padding: 16px;
	text-decoration: none;

}
li a:hover {
	background-color: #AF16DB
}
